<div class="main-box" style="height: auto;">
            

    <div id="table">
        <ul>
            
                <li>Wallet Id</li>
            
            
                <li><%- user.username %> </li>
            
        </ul>
    </div>


    <div style="">
        <h1>Encoder</h1>
    <form action="/encoder" method="POST" id="kayıt-ol-form" style="align-items: center;">
        
        <input style="margin: 0;position: absolute;top: 50%; left: 36%;width: 400px;" type="submit" name="" value="Wallet Code Create">
        
    </form>
    <br>
    

    </div>

</div>