<br>
<br>
<br>

<span>
    <img style="width:400px;float: left;" src="img/hedef.png" alt="" style="display: inline;">
</span>


<h2 style="font-size: 50px;">Amacımız</h2>

<p style="font-size: 25px;text-align: justify;">
    One Cash projesi e-ticaret alanında kullanıcıların gerçekleştirdiği ödemeleri basitleştirmeyi
    hedeflemektedir. Bu amacı gerçekleştirirken izleyeceği yol ise kullanıcıların yaptığı e-ödemelerde sürekli olarak
    gerçekleştirdiği e-ticaret sitelerine bilgi transferi sağlamak zorunda
    olduğu isim, soy isim, adres, telefon, kart bilgileri vb bilgilerin tek bir kere sağlanmasını
    gerçekleştirmeyi hedeflemektedir.
    One Cash hedefini gerçekleştirmek için kullanıcıların bir kereliğine bilgilerini alarak sanal bir
    cüzdan oluşturacaktır. Kullanıcı bilgilerini içeren bu One Cash cüzdanı ileride yapılacak olan
    e-ticaret alışverişlerinde kullanılmak üzere şifrelenmiş kodlar oluşturarak bunları kullanıcıya
    sağlayacaktır. Kullanıcılar elde ettikleri bu kodları alışverişlerini sağlamak istedikleri sitelerde
    kullanacaktır. Şifrelenmiş kodların kullanıldığı siteler One Cash proje ekibinin kendilerine
    sağladığı özel şifre çözücü yazılımlarıyla şifrelenmiş içeriği çözerek kendisine gerekli olan
    bilgileri alacaktır ve alışveriş işlemini gerçekleştirecektir
</p>

<br>
<br>
<br>
<h2 style="font-size: 50px;">Neden Biz?</h2>

<div style="clear: both;"></div>

<div style="display:block;">
    <img style="width:350px;float: left;max-height: 200px;margin-right: 60px;" src="img/security.png" alt=""
        style="display: inline;">
    <img style="width:350px;float: left;max-height: 200px;margin-right: 60px;" src="img/speed.png" alt=""
        style="display: inline;">
    <img style="width:350px;float: left;max-height: 200px;" src="img/usability.png" alt="" style="display: inline;">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p style="font-size: 25px;display: block;text-align: justify;">
    Çünkü ödeme sistemlerimiz diğer ödeme uygulamarı ya da benzeri sistemlerdeki eksik yönleri bulup onları daha iyi
    hale getiriyoruz. İnsanlar TSE gibi kalite belirleme ölçeklerine ihtiyaç duyarken ne yazik ki online ödemeler de bu
    pek mümkün değil ve aklımıza her zaman o sitenin güvenli olup olmadığı bilgilerimizi ne yaptığı sorusu geliyor
    burada "ONE CASH" Güvenlik , Hız ve Kolaylıkla rakip olduğu ödeme sistemlerinden kolaylık sıyrılıyor
</p>