<div style="margin-top: 100px;display: inline;">
    <h1>Sign up</h1>
<form action="/register" method="POST" id="kayıt-ol-form" style="align-items: center;">
    <div>
        <label>E-mail</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>User name</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="repassword">
    </div>
        <input style="margin-left: 200px;" type="submit" name="" value="Sign up">
    <img style="float: right;display: inline;" width="350" src="images/sag-logo.png" alt="">
</form>
</div>