<div style="margin-top: 100px;display: inline;">
    <h1>Create Wallet</h1>
<form action="/wallet" method="POST" id="kayıt-ol-form" style="align-items: center;">
    <div>
        <label>First Name</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastname">
    </div>
    <div>
        <label>Social Nu:12312312 </label>
        <input type="text" name="socialNu">
    </div>
    <div>
        <label>Phone Nu</label>
        <input type="text" name="phonenu">
    </div>
    <div>
        <label>Credit cart</label>
        <input type="text" name="creditcartnu">
    </div>
    <div>
        <label>Cvc Nu</label>
        <input type="text" name="cvcnu">
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="Address">
    </div>
        <input style="margin-left: 200px;" type="submit" name="" value="Create Wallet">
    <img style="float: right;display: inline;" width="350" src="images/sag-logo.png" alt="">
</form>


</div>