<html>
    <head>
        <meta name="charset" content="charset=UTF-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-box">
            <div id="table">
                <ul>
                    <a href="/login">
                        <li>Giriş Yap</li>
                    </a>
                    <a href="/register">
                        <li>Kayıt Ol</li>
                    </a>
                </ul>
            </div>
            <%-body-%> 
        </div>
    </body>
</html>