<html>
    <head>
        <meta name="charset" content="charset=UTF-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-box" style="height: auto;">
            <div id="table">
                <ul>
                    <a href="/home">
                        <li>home</li>
                    </a>
                    
                    <li style="color: crimson;">User: <%- user.username %></li>
                </ul>
            </div>

            <%-body-%> 

        </div>
    </body>
</html>